<div class="containt">
  <div class="d-flex">
    <div class="breadcrums">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Account</a></li>
          <li class="breadcrumb-item active" aria-current="page">Account-Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="details-content">
        <div class=" left-content">
          <div class="details-card">
            <div class=" card-imges">
              <img src="assets/avatar-icon.jpg" alt="">
            </div>
            <div class="card-details">
              <div class=" user-name "><h3><b>Subhajit Pramanik</b></h3></div>
              <div class=" user-code "><h3>SP.0001</h3></div>
              <div class=" user-description">
                <!-- <label class="col-3" for="description">Description&nbsp;:</label> -->
                <span class="col-12 ">
                  Some quick example text to build on the
                  card title and make up the bulk of the
                  card's content.
                </span>
                </div>
              <div class=" user-email">
                <label class="col-3" for="email">Email&nbsp;:</label>
                <span class="col-9 span-end">
                  test@gmail.com
                </span>
                </div>
              <div class=" user-phone"><label class="col-3" for="phone">Phone&nbsp;:</label>
                <span class="col-9 span-end">
                  +91 9865835247
                </span>
                </div>
              <div class=" user-adress">
                <label class="col-3" for="address">Address&nbsp;:</label>
                <span class="col-9 span-end">
                  Bangalore,
                  5700063
                </span>
              </div>
            </div>
            <div class="card-button">
              <button class="btn status-button">Active</button>
            </div>
          </div>
        </div>
          <div class="col-8 right-content">
            <div class="col-6 contact-details" >
              <form>
                <fieldset>
                  <legend class="label-primary">Contact</legend>
                  <div class="input-grp">
                    <div class="input-grup">
                      <label for="email">Email :</label>
                      <input type="text" name="email" id="email" placeholder="Enter Email" required />
                    </div>
                    <div class="input-grup">
                    <label for="phone">Phone :</label>
                    <input type="text" name="phone" id="phone" placeholder="Enter Phone" required />
                    </div>
                  <div class="form-save-btn">
                    <button class="btn form-button">Update</button>
                  </div>
                  </div>

               </fieldset>
               </form>
            </div>
            <div style="height:4%"></div>
            <div class="col-6 address-details">
            <form>
              <fieldset>
                <label class="label-primary">Address</label>
                <div class="input-grp">
                  <div class="input-grup">
                    <label for="address">Address :</label>
                    <input type="text" name="address" id="address" placeholder="Enter Address" required />
                  </div>
                  <div class="input-grup">
                  <label for="state">State :</label>
                  <input type="text" name="state" id="state" placeholder="Enter State" required />
                  </div>
                  <div class="input-grup">
                  <label for="city">City :</label>
                  <input type="text" name="city" id="city" placeholder="Enter City" required />
                  </div>
                  <!-- <div class="input-grup">
                  <label for="zip-code">Zip :</label>
                  <input type="text" name="zip-code" id="zip-code" placeholder="Enter Zip" required />
                </div> -->
                <div class="form-save-btn">
                  <button class="btn form-button">Update</button>
                </div>
                </div>
             </fieldset>
             </form>
          </div>
         </div>
        </div>
  </div>
</div>
</div>




